USE [Store]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[admin_id] [nvarchar](10) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](50) NOT NULL,
	[recovery] [nvarchar](5) NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[admin_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[id] [nvarchar](10) NOT NULL,
	[firstname] [nvarchar](50) NULL,
	[lastname] [nvarchar](50) NULL,
	[birthday] [date] NULL,
	[gender] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[phone] [nvarchar](10) NULL,
	[address] [nvarchar](50) NULL,
	[image] [nvarchar](50) NULL,
	[cover] [nvarchar](50) NULL,
 CONSTRAINT [PK_AdminInfo_1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CartDetail]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CartDetail](
	[customer_id] [nvarchar](5) NOT NULL,
	[product_id] [nvarchar](5) NOT NULL,
	[quantity] [nvarchar](50) NULL,
 CONSTRAINT [PK_CartDetail] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id] [nvarchar](5) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[date_added] [datetime] NOT NULL,
	[image] [nvarchar](255) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[id] [nvarchar](5) NOT NULL,
	[username] [nvarchar](50) NULL,
	[password] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[telephone] [nvarchar](50) NULL,
	[address] [nvarchar](max) NULL,
	[date_added] [datetime] NULL,
	[email] [nvarchar](50) NULL,
	[recovery] [nvarchar](10) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FavoriteProduct]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FavoriteProduct](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[customer_id] [nvarchar](5) NOT NULL,
	[product_id] [nvarchar](5) NOT NULL,
 CONSTRAINT [PK_FavoriteProduct] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Image]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Image](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [nvarchar](5) NOT NULL,
	[image] [nvarchar](255) NULL,
 CONSTRAINT [PK_Image] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Invoice](
	[id] [nvarchar](10) NOT NULL,
	[date] [date] NULL,
	[time] [time](7) NULL,
	[admin_id] [nvarchar](10) NOT NULL,
	[invoice_type_id] [int] NOT NULL,
 CONSTRAINT [PK_Invoice] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceDetail]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceDetail](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[invoice_id] [nvarchar](10) NOT NULL,
	[product_id] [nvarchar](5) NOT NULL,
	[quantity] [int] NOT NULL,
	[price] [float] NULL,
 CONSTRAINT [PK_InvoiceDetail] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InvoiceType]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InvoiceType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NULL,
 CONSTRAINT [PK_InvoiceType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[id] [nvarchar](10) NOT NULL,
	[customer_id] [nvarchar](5) NULL,
	[order_date] [datetime] NULL,
	[shipped_date] [date] NULL,
	[ship_name] [nvarchar](50) NULL,
	[ship_phone] [nvarchar](10) NULL,
	[ship_address] [nvarchar](max) NULL,
	[ship_note] [nvarchar](50) NULL,
	[state] [int] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[order_id] [nvarchar](10) NOT NULL,
	[product_id] [nvarchar](5) NOT NULL,
	[quantity] [int] NULL,
 CONSTRAINT [PK_OrderDetail] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC,
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 13/12/2021 11:37:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [nvarchar](5) NOT NULL,
	[name] [nvarchar](max) NULL,
	[quantity] [int] NULL,
	[unit] [nvarchar](50) NULL,
	[price] [float] NULL,
	[description] [nvarchar](max) NULL,
	[date_added] [datetime] NULL,
	[views] [int] NULL,
	[category_id] [nvarchar](5) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Account] ([admin_id], [username], [password], [recovery]) VALUES (N'A1234', N'Phat', N'12345', N'07512')
INSERT [dbo].[Account] ([admin_id], [username], [password], [recovery]) VALUES (N'A1235', N'Tuan', N'12345', N'')
GO
INSERT [dbo].[Admin] ([id], [firstname], [lastname], [birthday], [gender], [email], [phone], [address], [image], [cover]) VALUES (N'A1234', N'Phát', N'Lưu Tiến', CAST(N'2000-12-11' AS Date), N'0', N'luutienphat@gmail.com', N'0908164739', N'TPHCM', N'resources/uploads/admins/A1234/image.jpg', N'resources/uploads/admins/A1234/cover.png')
INSERT [dbo].[Admin] ([id], [firstname], [lastname], [birthday], [gender], [email], [phone], [address], [image], [cover]) VALUES (N'A1235', N'Tuấn', N'Bùi Quốc', CAST(N'2000-11-09' AS Date), N'0', N'', NULL, N'TPHCM', NULL, NULL)
GO
INSERT [dbo].[CartDetail] ([customer_id], [product_id], [quantity]) VALUES (N'U1344', N'P0006', N'1')
INSERT [dbo].[CartDetail] ([customer_id], [product_id], [quantity]) VALUES (N'U1344', N'P0287', N'2')
INSERT [dbo].[CartDetail] ([customer_id], [product_id], [quantity]) VALUES (N'U1344', N'P3547', N'1')
GO
INSERT [dbo].[Category] ([id], [name], [description], [date_added], [image]) VALUES (N'C0001', N'Kẹp ảnh', N'Kẹp ảnh', CAST(N'2021-11-09T00:00:00.000' AS DateTime), N'resources/uploads/categories/C0001.jpg')
INSERT [dbo].[Category] ([id], [name], [description], [date_added], [image]) VALUES (N'C0002', N'Quà tặng', N'Quà tặng dịp đặc biệt, ngày đặc biệt, ngày lễ trong năm', CAST(N'2021-11-03T00:00:00.000' AS DateTime), N'resources/uploads/categories/C0002.jpg')
INSERT [dbo].[Category] ([id], [name], [description], [date_added], [image]) VALUES (N'C0003', N'Giày/ thắt lưng', N'Giày dép đi chơi, đi trong nhà', CAST(N'2021-11-03T00:00:00.000' AS DateTime), N'resources/uploads/categories/C0003.jpg')
GO
INSERT [dbo].[Customer] ([id], [username], [password], [first_name], [last_name], [telephone], [address], [date_added], [email], [recovery]) VALUES (N'U1223', N'phat', N'123', N'phat', N'luu', N'088888888', N'tphcm     ', CAST(N'2021-11-10T00:00:00.000' AS DateTime), N'luutienphat@gmail.com', NULL)
INSERT [dbo].[Customer] ([id], [username], [password], [first_name], [last_name], [telephone], [address], [date_added], [email], [recovery]) VALUES (N'U1224', N'phuong', N'123', N'phat', N'luu', N'088888888', N'tphcm     ', CAST(N'2021-11-15T00:00:00.000' AS DateTime), N'luutienphat@gmail.com', NULL)
INSERT [dbo].[Customer] ([id], [username], [password], [first_name], [last_name], [telephone], [address], [date_added], [email], [recovery]) VALUES (N'U1225', N'quang', N'123', N'phat', N'luu', N'088888888', N'tphcm     ', CAST(N'2021-12-10T00:00:00.000' AS DateTime), N'luutienphat@gmail.com', NULL)
GO
SET IDENTITY_INSERT [dbo].[FavoriteProduct] ON 

INSERT [dbo].[FavoriteProduct] ([id], [customer_id], [product_id]) VALUES (2, N'U1223', N'P0006')
INSERT [dbo].[FavoriteProduct] ([id], [customer_id], [product_id]) VALUES (3, N'U1223', N'P0058')
INSERT [dbo].[FavoriteProduct] ([id], [customer_id], [product_id]) VALUES (4, N'U1223', N'P0287')
SET IDENTITY_INSERT [dbo].[FavoriteProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Image] ON 

INSERT [dbo].[Image] ([id], [product_id], [image]) VALUES (81, N'P8446', N'resources/uploads/products/P8446/P8446_1.jpg')
INSERT [dbo].[Image] ([id], [product_id], [image]) VALUES (83, N'P1943', N'resources/uploads/products/P1943/P1943_1.jpg')
INSERT [dbo].[Image] ([id], [product_id], [image]) VALUES (84, N'P1944', N'resources/uploads/products/P1944/P1944_1.jpg')
GO
SET IDENTITY_INSERT [dbo].[Image] OFF
GO
INSERT [dbo].[Invoice] ([id], [date], [time], [admin_id], [invoice_type_id]) VALUES (N'I1234', CAST(N'2021-11-11' AS Date), CAST(N'21:47:33' AS Time), N'A1234', 1)
INSERT [dbo].[Invoice] ([id], [date], [time], [admin_id], [invoice_type_id]) VALUES (N'I1235', CAST(N'2021-11-09' AS Date), CAST(N'08:41:56' AS Time), N'A1234', 1)
INSERT [dbo].[Invoice] ([id], [date], [time], [admin_id], [invoice_type_id]) VALUES (N'I1236', CAST(N'2021-11-15' AS Date), CAST(N'15:03:12' AS Time), N'A1234', 1)
GO
SET IDENTITY_INSERT [dbo].[InvoiceDetail] ON 

INSERT [dbo].[InvoiceDetail] ([id], [invoice_id], [product_id], [quantity], [price]) VALUES (4, N'I1234', N'P1943', 3, 103000)
INSERT [dbo].[InvoiceDetail] ([id], [invoice_id], [product_id], [quantity], [price]) VALUES (5, N'I1234', N'P1944', 3, 26000)
INSERT [dbo].[InvoiceDetail] ([id], [invoice_id], [product_id], [quantity], [price]) VALUES (6, N'I570226943', N'P0987', 12, 100000)
SET IDENTITY_INSERT [dbo].[InvoiceDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[InvoiceType] ON 

INSERT [dbo].[InvoiceType] ([id], [name]) VALUES (1, N'nhập      ')
INSERT [dbo].[InvoiceType] ([id], [name]) VALUES (2, N'xuất      ')
SET IDENTITY_INSERT [dbo].[InvoiceType] OFF
GO
INSERT [dbo].[Order] ([id], [customer_id], [order_date], [shipped_date], [ship_name], [ship_phone], [ship_address], [ship_note], [state]) VALUES (N'O211024000', N'U1223', CAST(N'2021-11-14T00:00:00.000' AS DateTime), NULL, N'phat luu', N'0796919429', N'tphcm     ', N'', -1)
INSERT [dbo].[Order] ([id], [customer_id], [order_date], [shipped_date], [ship_name], [ship_phone], [ship_address], [ship_note], [state]) VALUES (N'O211024001', N'U1345', CAST(N'2021-11-16T22:59:02.750' AS DateTime), NULL, N'Bùi Tuấn', N'0392322444', N'123, Phường Hiệp Thành, Quận 12, Thành phố Hồ Chí Minh', N'', 3)
INSERT [dbo].[Order] ([id], [customer_id], [order_date], [shipped_date], [ship_name], [ship_phone], [ship_address], [ship_note], [state]) VALUES (N'O211024002', N'U1345', CAST(N'2021-11-16T23:05:50.180' AS DateTime), NULL, N'Bùi Tuấn', N'0392322444', N'123, Phường Hiệp Thành, Quận 12, Thành phố Hồ Chí Minh', N'', 0)
GO
INSERT [dbo].[OrderDetail] ([order_id], [product_id], [quantity]) VALUES (N'O211024000', N'P1944', 1)
INSERT [dbo].[OrderDetail] ([order_id], [product_id], [quantity]) VALUES (N'O211024000', N'P1945', 2)
INSERT [dbo].[OrderDetail] ([order_id], [product_id], [quantity]) VALUES (N'O211024001', N'P0433', 1)
GO
INSERT [dbo].[Product] ([id], [name], [quantity], [unit], [price], [description], [date_added], [views], [category_id]) VALUES (N'P0006', N'Kính mát gọng nhựa dày basic color', 12, N'cái', 100000, N'', CAST(N'2021-11-16T00:00:00.000' AS DateTime), 131, N'C0005')
INSERT [dbo].[Product] ([id], [name], [quantity], [unit], [price], [description], [date_added], [views], [category_id]) VALUES (N'P0058', N'Kính mát gọng nhựa Double B', 12, N'cái', 100000, N'', CAST(N'2021-11-16T00:00:00.000' AS DateTime), 412, N'C0005')
INSERT [dbo].[Product] ([id], [name], [quantity], [unit], [price], [description], [date_added], [views], [category_id]) VALUES (N'P0287', N'Gối sưởi Baby bear gấu bịt mắt sạc điện 27X17', 15, N'cái', 270000, N'', CAST(N'2021-11-16T00:00:00.000' AS DateTime), 185, N'C4872')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Admin]    Script Date: 13/12/2021 11:37:42 ******/
ALTER TABLE [dbo].[Account] ADD  CONSTRAINT [IX_Admin] UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer]    Script Date: 13/12/2021 11:37:42 ******/
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [IX_Customer] UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Admin]  WITH CHECK ADD  CONSTRAINT [FK_AdminInfo_Admin] FOREIGN KEY([id])
REFERENCES [dbo].[Account] ([admin_id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Admin] CHECK CONSTRAINT [FK_AdminInfo_Admin]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_Customer]
GO
ALTER TABLE [dbo].[CartDetail]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[CartDetail] CHECK CONSTRAINT [FK_CartDetail_Product]
GO
ALTER TABLE [dbo].[FavoriteProduct]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteProduct_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[FavoriteProduct] CHECK CONSTRAINT [FK_FavoriteProduct_Customer]
GO
ALTER TABLE [dbo].[FavoriteProduct]  WITH CHECK ADD  CONSTRAINT [FK_FavoriteProduct_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
GO
ALTER TABLE [dbo].[FavoriteProduct] CHECK CONSTRAINT [FK_FavoriteProduct_Product]
GO
ALTER TABLE [dbo].[Image]  WITH CHECK ADD  CONSTRAINT [FK_Image_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Image] CHECK CONSTRAINT [FK_Image_Product]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Admin] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_Admin]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_Invoice_InvoiceType] FOREIGN KEY([invoice_type_id])
REFERENCES [dbo].[InvoiceType] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_Invoice_InvoiceType]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Invoice] FOREIGN KEY([invoice_id])
REFERENCES [dbo].[Invoice] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Invoice]
GO
ALTER TABLE [dbo].[InvoiceDetail]  WITH CHECK ADD  CONSTRAINT [FK_InvoiceDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[InvoiceDetail] CHECK CONSTRAINT [FK_InvoiceDetail_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_hcrvktmjtd8cc6109sfwea09m] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_hcrvktmjtd8cc6109sfwea09m]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_47rfwue5buamcenofjv8m1j6w] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_47rfwue5buamcenofjv8m1j6w]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
