.header .img-container {
	max-width: 170px;
}

.swiper-1 {
	width: 74.9%;
	height: auto;
}

.swiper-2 {
	width: 100%;
	height: auto;
}

.swiper-1.mr-2 {
	margin-right: 0.5rem !important;
}

.swiper-pagination-bullet {
	background-color: #333 !important;
}

.swiper-button-next, .swiper-button-prev {
	color: #333 !important;
}

.transition-colors {
	transition: .3s !important;
}

.swiper-2 .swiper-button-next, .swiper-2 .swiper-button-prev {
	color: #333 !important;
}

.h-fit {
	height: fit-content;
}

.item__menu {
	width: 100%;
	visibility: hidden;
	/* transform: translateY(100%); */
	transition: all .4s ease-out;
	bottom: -50px !important;
	opacity: 0;
	/* z-index: 1; */
}

.item-menu-container:hover .item__menu {
	visibility: visible;
	/* transform: translateY(0%) !important; */
	bottom: 0px !important;
	transition: all .4s ease-out;
	opacity: 1;
}

.z-index-1 {
	z-index: 1;
}
/* .swiper-1{
    z-index: 1 !important;
} */
.submenu {
	visibility: hidden;
	transition: all .4s ease-out;
	left: 0;
	transform: translateY(20px);
	opacity: 0;
	z-index: 100;
}

.nav__submenu-container:hover .submenu {
	visibility: visible;
	transition: all .4s ease-out;
	opacity: 1;
	transform: translateY(0%);
}

.sign-up-form-container {
	max-width: 600px;
}

.input-wrapper label {
	min-width: 150px;
}

.sign-up-form-container.flex-1 {
	max-width: 1000px;
}

.user-info-nav {
	width: 200px;
}

.nav__submenu-container>div:first-child {
	border-color: transparent;
}

.nav__submenu-container>div>a {
	padding: 0 !important;
}
/* .nav__bottom{
    transform: translateX(0) !important;
} */
.nav__submenu-container i {
	display: none;
}

.section__heading {
	padding-left: 12px;
}

.nav__middle-bottom {
	font-size: 14px;
}

.switch-to-sign-in::after, .switch-to-sign-up::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: rgb(165, 180, 252);
	display: none;
	position: absolute;
	bottom: 0;
}

.switch-to-sign-in:hover::after, .switch-to-sign-up:hover::after {
	display: block;
}

.active-show-after::after {
	display: block !important;
}

.product-detail__img-container {
	max-width: 500px;
	min-width: 44%;
}

.product-detail__img-container img {
	min-width: 100%;
}

.social .social-icon-container:last-child {
	margin-left: 8px !important;
}

input[type="number"], input[type="button"] {
	border: 1px solid #d4d4d4;
	outline: none;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.input-group input[type='button'] {
	cursor: pointer;
	/* transition: all 300ms ease; */
	background-color: white;
	text-align: center;
	line-height: 30px;
}

.input-group input[type='button']:hover {
	color: #777777;
}

.input-group .button-minus, .input-group .button-plus {
	font-weight: bold;
	height: 30px;
	width: 30px;
	border: 1px solid #d4d4d4;
}

.input-group .quantity-field {
	height: 30px;
	text-align: center;
	width: 60px;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: none;
}

.test-ani {
	height: 60px;
	width: 60px;
	/* padding: 12px; */
	/* display: flex;
    align-items: center; */
	position: relative;
}

.bar-middle {
	top: 28px;
	left: 12px;
	height: 4px;
	width: 36px;
	/* background-color: white; */
	position: absolute;
	transition: .3s;
}

.bar-top {
	position: absolute;
	top: 16px;
	left: 12px;
	height: 4px;
	width: 36px;
	/* background-color: white; */
	transition: .3s;
}

.bar-bottom {
	position: absolute;
	height: 4px;
	width: 36px;
	bottom: 16px;
	left: 12px;
	/* background-color: white; */
	transition: .3s;
}

.test-ani.active .bar-top {
	top: 28px;
	transform: rotate(135deg);
}

.test-ani.active .bar-middle {
	top: 28px;
	transform: translateX(-200%);
}

.test-ani.active .bar-bottom {
	top: 28px;
	transform: rotate(-135deg);
}

.cart-list__container {
	
}

.cart-list__table {
	width: 100%;
}

.cart-list__table tr {
	border: 1px solid lightgrey;
}

tbody::before {
	display: block;
	content: "";
	height: 20px;
}

.cart-list__table th, .cart-list__table td {
	padding: 8px;
	text-align: center;
	vertical-align: middle;
}

.cart-list__table .table-image__container {
	display: block;
	margin-left: 8px;
	margin-right: 0 !important;
	width: 85px;
}

.table-image__container img {
	width: 100%;
}

.error::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #FB3F3F;
	position: absolute;
	top: -8px;
	left: 10px;
}

.error {
	cursor: pointer;
	position: relative;
	background-color: #FB3F3F;
	padding: 2px 8px;
	width: fit-content;
	border-radius: 4px;
	transform: translateY(-8px);
	color: white;
}

.msg {
	position: fixed;
	top: 200px;
	right: 30px;
	transform: translateX(320px);
	transition: all .3s ease-out;
	z-index: 999999;
	visibility: hidden;
}

.msg-detail {
	color: white;
	width: 240px;
	/* padding: 12px; */
}

.msg.active {
	transform: translateX(0);
	transition: all .3s ease-out;
	visibility: visible;
}

.ordered-list {
	height: 600px;
	overflow-y: scroll;
}